<%= link_to "Home", root_path %><br>
<%= link_to "Playlists", playlists_path %><br>
<%= link_to "Songs", songs_path %><br>

<h1>All Artists</h1>

<ul>
  <% @artists.each do |artist| %>
    <li>
      <%= link_to artist.name, artist %><br>
    </li>
  <% end %>
</ul>

<%= link_to "New artist", new_artist_path %>