<%= link_to "Home", root_path %><br>
<%= link_to "Artists", artists_path %><br>
<%= link_to "Songs", songs_path %><br>

<h1>All Playlists</h1>

<ul>
  <% @playlists.each do |playlist| %>
    <li>
      <%= link_to playlist.name, playlist %>
    </li>
  <% end %>
</ul>

<%= link_to "New Playlist", new_playlist_path %>